{% extends "bootstrap/base.html" %}

{% block title %}Secret room{% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center pt-5">
        <div class="text-center">

            <h1>Top Secret </h1>
            <iframe src="https://giphy.com/embed/Ju7l5y9osyymQ" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/rick-astley-Ju7l5y9osyymQ">via GIPHY</a></p>

        </div>
    </div>

{% endblock %}
